{{ $bgImage := .Params.pitchSection.background }}
{{ $list := .Params.pitchSection.list }}
<section
  class="w-full bg-cover bg-center h-[450px] flex items-center justify-center"
  style="background-image: url('{{ $bgImage }}');"
>
  <!-- Container for the pitch section -->
  <div class="container  grid grid-cols-1  md:grid-cols-2 lg:grid-cols-4 gap-4">
    <!-- Loop through the list items -->
    {{ range $index, $item := $list }}
      <div class="pitch-item flex flex-col items-center">
        <div class="icon">
          <img src="{{ $item.icon }}" alt="" class="icon-image rounded-full" />
        </div>
        <p class="pitch-title text-lg">{{ $item.title }}</p>
        <p class="pitch-description text-sm">{{ $item.description }}</p>
      </div>
    {{ end }}

  </div>
</section>
