{{ $bgImage := .Params.pitchSection.background }}
{{ $list := .Params.pitchSection.list }}
<section
  class="w-full relative bg-cover  bg-center h-[450px] flex items-center  justify-center "
  style="background-image: url('{{ $bgImage }}'); background-attachment: fixed; background-size: cover;"
>
  <div class="absolute inset-0 bg-green-600/60 shadow-circle"></div>
  <!-- Container for the pitch section -->
  <div
    class="container grid  z-1 grid-cols-2 lg:grid-cols-4 gap-1 gap-y-4 md:gap-4 "
  >
    <!-- Loop through the list items -->
    {{ range $index, $item := $list }}
      <div
        class="relative pitch-item flex flex-col gap-4 text-white justify-center items-center"
      >
        <div
          class="icon size-20 rounded-full shadow-circle  flex items-center justify-center"
        >
          <img
            src="{{ relURL $item.icon }}"
            alt=""
            role="icon"
            class="size-9"
          />
        </div>
        <p class="pitch-title text-sm sm:text-base">{{ $item.title }}</p>
        <p
          class="pitch-description lg:absolute lg:-bottom-2/3 lg:text-sm text-xsm sm:text-sm text-center text-balance"
        >
          {{ $item.description }}
        </p>
      </div>
    {{ end }}

  </div>
</section>
