<!doctype html>
<html
  class="dark"
  lang="{{ or site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
    {{ partial "head.html" . }}
    {{ partial "opengraph.html" . }}
  </head>

  <body
    class="bg-lightMode dark:bg-darkMode dark:text-slate-100 flex  min-h-[calc(100dvh_-_3.5rem)] lg:min-h-[calc(100dvh_-_5rem)] justify-between flex-col  mt-14 lg:mt-20 scroll-smooth"
  >
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>

  <script>
    const tokens = ["#invite_token", "#email_change_token", "#confirmation_token", "#recovery_token"];
    const currentHash = window.location.hash;
    const shouldRedirect = tokens.some(token => currentHash.startsWith(token));
    if (shouldRedirect) {
      const urlSplit = document.URL.split("#");
      window.location = `/admin/#${urlSplit[1]}`;
    }
  </script>
  
</html>
