{{ define "main" }}
  <main class="container  mx-auto bg-blue-300 size-full mb-10">
    {{ partial "breadcrumbs.html" . }}


    <div class="size-full flex gap-4">
      {{ $news := where .Site.RegularPages "Section" "news" }}
      <aside class="bg-pink-400 size-full max-w-80">
        <section aria-label="news categories">
          <p>Categories i18n</p>
          <ul>
            {{ range $name, $taxonomy := .Site.Taxonomies.features }}
              <li>
                <a href="{{ $taxonomy.Page.RelPermalink }}">
                  {{ $name }}
                </a>
              </li>
            {{ end }}
          </ul>
        </section>
        <section aria-label="recent news">
          <p>recent news i18n</p>
          <ul>
            {{ range $news.ByPublishDate.Reverse.Limit 5 }}
              <li>
                <a href="{{ .RelPermalink }}">
                  {{ .Params.Title }}
                </a>
                <p>
                  {{ .Params.date | time.Format ":date_long" }}
                </p>
              </li>
            {{ end }}
          </ul>
        </section>
      </aside>
      <section class="bg-green-300 size-full">
        <ul>
          {{ range $news }}
            <li>
              <div class="overflow-hidden">
                <img
                  src="{{ .Site.Data.settings.logo }}"
                  alt="{{ .Params.Title }}"
                  class="size-full hover:scale-125 hover:brightness-50 transition-all duration-300"
                />
              </div>
              <h3>
                <a href="{{ .RelPermalink }}">
                  {{ .Params.Title }}
                </a>
              </h3>
              <p>
                {{ .Params.date | time.Format ":date_long" }}
              </p>
              <p>
                {{ .Params.features }}
              </p>
              <p>
                {{ .Params.description | truncate 80 }}
                <a href="{{ .RelPermalink }}">...read mor i18n >></a>
              </p>
            </li>
          {{ end }}
        </ul>
      </section>
    </div>
  </main>
{{ end }}
