@tailwind base;

@tailwind components;

@tailwind utilities;

@view-transition {
  navigation: auto;
}

:root {
  --filter-grannary-image-url: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.44' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --arrow-onlight-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6'/%3E%3Cpath d='m21 3-9 9'/%3E%3Cpath d='M15 3h6v6'/%3E%3C/svg%3E");
  --arrow-ondark-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6'/%3E%3Cpath d='m21 3-9 9'/%3E%3Cpath d='M15 3h6v6'/%3E%3C/svg%3E");
  --bg-conic-gradient: conic-gradient(
    rgb(255 84 47) 100deg,
    rgb(255 84 47) 100deg,
    transparent 130deg
  );
}

body {
  text-rendering: optimizespeed;
}

.menu-icon-wrapper:has(input:checked) {
  svg {
    path {
      &.path1 {
        stroke-dasharray: 2901.57px, 5258.15px, 240px;
      }
      &.path2 {
        stroke-dasharray: 400px, 600px, 0px;
      }
      &.path3 {
        stroke-dasharray: 3496.56px, 6448.11px, 240px;
      }
    }
  }
}
.menu-icon-wrapper {
  @apply relative left-0 top-0 size-8 pointer-events-none transition-all;
  svg {
    @apply absolute -top-[18px] -left-[18px] scale-[0.07] origin-[0_0];

    path {
      stroke: green;
      stroke-width: 40px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: transparent;
      transition: stroke-dasharray 0.5s;
      &.path1 {
        stroke-dashoffset: 5803.15px;
        stroke-dasharray: 2901.57px, 2981.57px, 240px;
      }
      &.path2 {
        stroke-dashoffset: 800px;
        stroke-dasharray: 400px, 480px, 240px;
      }
      &.path3 {
        stroke-dashoffset: 6993.11px;
        stroke-dasharray: 3496.56px, 3576.56px, 240px;
      }
    }
  }
  .menu-icon-trigger {
    @apply relative size-full cursor-pointer pointer-events-auto bg-none border-none appearance-none;
  }
}

.centric {
  @apply top-0 left-0 right-0 bottom-0;
}

.headerBackdrop::after {
  content: "";
  z-index: 49;
  @apply bg-white/70 dark:bg-black/35 backdrop-blur-md top-0 left-0 right-0 bottom-0 absolute;
}

.menu-item {
  @apply peer-has-[input:checked]:right-6 transition-all duration-300 -right-full flex items-end gap-4 flex-col top-16 p-5 z-[999] rounded-lg absolute bg-white/30 dark:bg-black/35 backdrop-blur-md;
  @apply md:flex-row md:top-0 md:bg-transparent md:dark:bg-transparent md:backdrop-blur-none md:relative md:right-0;
  @apply md:p-0 md:items-center;
  @apply lg:gap-10 xl:gap-16;
}

.darkmode-toggle-label {
  width: 80px;
  height: 40px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 40px;
  box-shadow:
    inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.darkmode-toggle-label:after {
  content: "";
  width: 34px;
  height: 34px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.darkmode-toggle-input:checked + .darkmode-toggle-label:after {
  left: 75px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.darkmode-toggle-label:active:after {
  width: 40px;
}

.darkmode-toggle-label svg {
  position: absolute;
  width: 24px;
  top: 8px;
  z-index: 100;
}

.sunMoonTransition:after,
.sunMoonTransition {
  transition: 0.3s;
}
.darkmode-toggle-label svg.sun {
  left: 8px;
  fill: #fff;
}
.darkmode-toggle-label svg.moon {
  left: 46px;
  fill: #7e7e7e;
}
.darkmode-toggle-input:checked + .darkmode-toggle-label svg.sun {
  @apply dark:fill-[#7e7e7e];
}
.darkmode-toggle-input:checked + .darkmode-toggle-label svg.moon {
  @apply dark:fill-lightMode;
}

.localy-container {
  box-shadow:
    inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
}

.localy-button {
  @apply shadow-[0px_4px_0px_rgba(0,0,0,0.4)] dark:shadow-[0px_4px_0px_rgb(255,253,253,0.4)];
  border-radius: 40%;
  transition:
    transform 0.1s ease,
    box-shadow 0.2s ease;
}

.localy-button:active {
  transform: translateY(4px);
  box-shadow:
    0px 1px 0px rgba(0, 0, 0, 0.2),
    0px 10px 5px rgba(255, 255, 255, 0.4);
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-xl;
}
p {
  @apply text-base;
}

.slide-left {
  animation: slideLeft 0.6s ease-in-out forwards;
}

.slide-right {
  animation: slideRight 0.6s ease-in-out forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.filter-group {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.filter-group.active {
  z-index: 1;
  opacity: 1;
}

.inactive {
  @apply bg-inactiveDark dark:bg-inactive;
}
.PaginationDotsInActive {
  @apply hover:bg-blue-500 hover:text-white;
}
.PaginationDotsActive {
  @apply bg-blue-500 text-white;
}

.heroWrapperDiv {
  @apply relative flex justify-center gap-1 items-center;
}

.heroCharDic {
  @apply inline-block opacity-0 transform -translate-y-[100vh];
}

.heroCharDicAnimation {
  @apply inline-block transform translate-y-0 opacity-100 transition-all duration-1000 ease-fall-in;
}

.hero-title-before {
  @apply -translate-x-[200px] opacity-0 transition-all duration-300 ease-linear;
}
.hero-title-after {
  @apply translate-x-0 opacity-100 transition-all duration-1000 ease-linear;
}

.hero-pitch-before {
  @apply translate-y-28 opacity-0 transition-all duration-300 ease-linear;
}
.hero-pitch-after {
  @apply translate-y-0 opacity-100 transition-all duration-1000 ease-linear;
}

.hero-image-active {
  @apply scale-125 opacity-100 z-1;
  transition:
    opacity 300ms linear,
    transform 50s linear;
}

.hero-image-inactive {
  @apply scale-100 opacity-50 z-0;
  transition:
    opacity 300ms linear,
    transform 10000ms linear;
}
#paginationContainer {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.sticky-navigation {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.current-displaye-image-style {
  @apply outline-2 outline outline-offset-2 outline-blue-500 rounded;
}

dialog {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: hidden;
  justify-content: center;
  align-items: center;
}

dialog img {
  max-width: 90vw;
  max-height: 80vh;
  display: none;
}

button[data-control] {
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border: none;
}

button[data-control]:hover {
  color: #4a90e2;
}

.remove-scroll-style {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-scrollbar {
    display: none;
  }
}

details {
  display: list-item;
}

summary {
  list-style: none;
  counter-reset: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  display: list-item;
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply tracking-tight;
  }

  h1 {
    @apply text-xl font-bold;
  }

  h2 {
    @apply text-lg font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  h4 {
    @apply text-lg font-bold;
  }

  h5 {
    @apply text-base font-bold;
  }

  h6 {
    @apply text-sm font-bold;
  }

  p + h2,
  p + h3,
  ul + h2,
  ul + h3,
  ol + h2,
  ol + h3 {
    @apply mt-6;
  }

  h2 + h3 {
    @apply mt-2;
  }

  p {
    @apply text-base mt-2 leading-relaxed;
  }

  a {
    @apply text-blue-500 text-base underline;
  }

  a:hover {
    @apply text-blue-800;
  }

  ul {
    @apply list-disc pl-4 mt-2;
  }

  ol {
    @apply list-decimal pl-4 mt-2;
  }

  li:not(:last-child) {
    @apply mb-2;
  }

  blockquote {
    @apply border-l-2 border-gray-200 pl-3 mt-6 mb-8;
  }

  .highlight {
    @apply my-2;
    pre {
      @apply text-sm m-0 p-4;

      code {
        @apply bg-none p-0;
      }
    }
  }

  pre:has(code) {
    @apply p-2 m-4 bg-gray-100 rounded-lg overflow-x-auto;
  }

  pre {
    code {
      @apply bg-inherit text-sm;
    }
  }

  code {
    @apply bg-gray-200 px-1 rounded-md text-green-800;
  }
}
