{{ define "main" }}
  <!-- Main Content Container -->
  <main class=" container mx-auto mb-14 flex flex-col gap-10 items-center">
    {{ partial "breadcrumbs.html" . }}
    {{ range .Params.sections }}

      <section aria-label="{{ .title }}" class="text-start w-full">
        <h2 class="text-lg">
          {{ .title }}
        </h2>
        <ul class="list-inside list-[space] text-base mt-4">
          {{ range .listDescription }}
            <li class="mt-2 text-base">
              {{ .description }}
            </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}


    <section aria-label="licenses">
      {{ $title := .Params.licensesSection.title }}
      <h2 class="text-lg">{{ $title }}</h2>
      <div
        class="grid grid-flow-row gap-8 mt-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  xl:grid-cols-4"
      >
        {{ range .Params.licensesSection.licenses }}
          <div class=" shadow-md ">
            <!-- Image Container with A4 Aspect Ratio -->
            <div class="w-full aspect-[1/1.414] overflow-hidden  mb-4">
              <img
                src="{{ .image }}"
                alt="{{ $title }} {{ .registrNumber }}"
                class="w-full h-full object-cover"
              />
            </div>
            <!-- Title & Description -->
            <p class="text-sm text-center font-semibold mb-2">
              {{ .registrNumber }}
            </p>
          </div>
        {{ end }}
      </div>
    </section>

    <section aria-label="certificates">
      {{ $title := .Params.certificatesSection.title }}


      <h2 class="text-lg">{{ $title }}</h2>
      <div
        class="grid grid-flow-row gap-8 mt-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  xl:grid-cols-4"
      >
        {{ range .Params.certificatesSection.certificates }}
          <div class=" shadow-md ">
            <!-- Image Container with A4 Aspect Ratio -->
            <div class="w-full aspect-[1/1.414] overflow-hidden  mb-4">
              <img
                src="{{ .image }}"
                alt="{{ $title }} {{ .registrNumber }}"
                class="w-full h-full object-cover"
              />
            </div>
            <!-- Title & Description -->
            <p class="text-sm  text-center font-semibold mb-2">
              {{ .registrNumber }}
            </p>
          </div>
        {{ end }}
      </div>
    </section>
  </main>
{{ end }}
