{{ define "main" }}
  <!-- Main Content Container -->
  <main class=" container mx-auto mb-14 flex flex-col gap-10 items-center">
    {{ partial "breadcrumbs.html" . }}
    {{ range .Params.sections }}

      <section aria-label="{{ .title }}" class="text-start w-full">
        <h2 class="text-lg mb-10">
          {{ .title }}
        </h2>
        <ul class="list-inside text-base">
          {{ range .listDescription }}
            <li class="mb-6 text-base text-justify">
              {{ .description }}
            </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}

    {{ $news := (where .Site.RegularPages "Type" "news") }}
    {{ $currentLang := index .Site.Data.featured .Lang }}
    {{ $translationTaxonomy := $currentLang.groups }}
    <section class="text-start w-full">
      <h2 class="text-lg mb-10">
        {{ range $translationTaxonomy }}
          {{ if eq .group "0" }}
            {{ .translation }}
          {{ end }}
        {{ end }}
      </h2>
      {{ range $news }}
        {{ if eq .Params.featured 0 }}
          <ul class="list-disc">
            <li class="text-base">
              <a href="{{ .RelPermalink }}" class="underline">
                {{ .Params.ContentTitle }}
              </a>
            </li>
          </ul>
        {{ end }}
      {{ end }}
    </section>

    <section aria-label="certificates">
      {{ $title := .Params.certificatesSection.title }}


      <h2 class="text-lg">{{ $title }}</h2>
      <div
        class="grid grid-flow-row gap-8 mt-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  xl:grid-cols-4"
      >
        {{ range .Params.certificatesSection.certificates }}
          <div class=" shadow-md ">
            <!-- Image Container with A4 Aspect Ratio -->
            <div
              class="w-full aspect-[1/1.414] overflow-hidden  mb-4 relative bg-white"
            >
              <img
                src="{{ relURL .image }}"
                alt="{{ $title }} {{ .registrNumber }}"
                class="w-full h-full object-contain"
              />
              <a
                href="{{ relURL .image }}"
                class="absolute size-7 bottom-0 right-0"
                data-download="{{ .image }}"
                download="{{ .image }}"
              >
                <img src="{{ relURL "static/download.svg" }}" alt="" />
              </a>
            </div>
            <!-- Title & Description -->
            <p class="text-sm  text-center font-semibold mb-2">
              {{ .registrNumber }}
            </p>
          </div>
        {{ end }}
      </div>
    </section>
  </main>
{{ end }}
