<!-- Breadcrumb Container -->

<nav
  class="breadcrumb-container w-full
   py-3  mb-5 "
  aria-label="Breadcrumb"
>
  <ol class="breadcrumb-list flex flex-nowrap space-x-2 text-base ">
    <!-- Loop through Breadcrumb Path -->
    {{ range $index, $element := .Ancestors.Reverse }}
      {{ if eq $element.LinkTitle "Features" }}
        <li class="breadcrumb-item flex flex-nowrap space-x-2 ">
          <a
            href="{{ (site.GetPage "section" "news").RelPermalink }}"
            class="hover:text-logoLightColor dark:hover:text-logoDarkColor"
          >
            {{ (site.GetPage "section" "news").LinkTitle }}</a
          >
          <span aria-hidden="true">/</span>
        </li>
        <li
          class="breadcrumb-item   overflow-hidden text-ellipsis whitespace-nowrap "
        >
          <span
            aria-current="categories"
            href="{{ .RelPermalink }}"
            class="hover:text-logoLightColor dark:hover:text-logoDarkColor"
          >
            category
          </span>
          <span aria-hidden="true">/</span>
        </li>
      {{ else }}
        <li class="breadcrumb-item flex flex-nowrap space-x-2 ">
          <a
            href="{{ $element.Permalink }}"
            class="hover:text-logoLightColor dark:hover:text-logoDarkColor"
            dark:hover:text-logoDarkColor
            >{{ $element.LinkTitle }}</a
          >
          <span aria-hidden="true">/</span>
        </li>
      {{ end }}
    {{ end }}


    <!-- Current Page -->
    <li
      class="breadcrumb-item font-semibold text-logoLightColor dark:text-logoDarkColor overflow-hidden text-ellipsis whitespace-nowrap"
    >
      <span aria-current="page" href="{{ .RelPermalink }}">
        {{ .LinkTitle }}
      </span>
    </li>
  </ol>
</nav>
