<footer
  class="bg-darkMode dark:bg-lightMode dark:*:text-darkMode *:text-lightMode relative py-10"
  anchor-name="footerAnchor"
>
  <div class="container mx-auto space-y-5  items-center justify-between">
    <nav
      class="flex gap-4 justify-center border-b border-lightMode text-nowrap dark:border-darkMode pb-10"
      role="navigation"
    >
      {{ $mainURL := "/" | relLangURL }}

      {{ with site.Menus.mainmenu }}
        {{ range . }}
          {{ if $.IsMenuCurrent .Menu . }}
            <button disabled class="opacity-50 font-bold  " aria-current="page">
              {{ .Name }}
            </button>
          {{ else }}
            <a href="{{ .URL }}" class="hover:opacity-50">{{ .Name }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </nav>
    <div
      class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 lg:pt-10 space-y-10 lg:space-y-0"
    >
      <!-- <section>
        <p>
          news
        </p>
        <ul role="navigation" aria-label="recent news" class="bg-green-200">
          {{ $news := where .Site.Pages "Section" "news" }}
          {{ range first 4 $news.ByPublishDate.Reverse }}
        <p><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></p>
      {{ end }}
        </ul>
      </section> -->
      <section
        class="lg:border-r border-b lg:col-span-1 pb-10 lg:pb-0 lg:border-b-0 md:col-span-2 border-lightMode dark:border-darkMode p-4"
      >
        {{ with index .Site.Data.settings .Lang }}
          <p class="text-sm ">{{ .description }}</p>
          <a
            class="w-full block mx-auto mb-2"
            href="{{ $mainURL }}"
            alt="to main"
          >
            <img
              src="{{ .main_logo }}"
              alt="logo"
              class="size-full object-contain"
            />
          </a>
        {{ end }}
      </section>

      <section
        class="md:border-r border-b md:border-b-0 border-lightMode dark:border-darkMode p-4 "
      >
        <p class="text-center text-base mb-4">
          {{ $settings := index .Site.Data.settings .Lang }}
          {{ $settings.news.taxonomy }}
        </p>
        <ul role="navigation" aria-label="product categories">
          {{ $currentLang := index .Site.Data.featured .Lang }}
          {{ $groups := $currentLang.groups }}
          {{ range $name, $taxonomy := .Site.Taxonomies.featured }}
            <li class=" w-fit">
              <a
                href="{{ $taxonomy.Page.Permalink }}"
                class="text-sm  hover:opacity-50"
              >
                {{ range $groups }}
                  {{ if eq .group $name }}
                    {{ .translation }}
                  {{ end }}
                {{ end }}
              </a>
            </li>
          {{ else }}
            <li class="text-sm">No products found! i18n</li>
          {{ end }}
        </ul>
      </section>
      {{ with index .Site.Data.settings .Lang }}
        <section class="p-4 ">
          <p class="text-center text-base mb-4">
            {{ $settings := index .Site.Data.settings .Lang }}
            {{ $settings.contactUs }}
          </p>
          <ul class="">
            <li role="contentinfo" class="flex items-center gap-2">
              <div class="size-[40px] p-1 ">
                <a href="mailto:{{ .email }}" target="_blank">
                  <img
                    src="{{ .email_logo }}"
                    alt="icon"
                    class="size-full bg-blue-300 p-1 rounded-full hover:scale-125"
                  />
                </a>
              </div>
              <p class="text-sm">{{ .email }}</p>
            </li>
            <li role="contentinfo" class="flex items-center gap-2">
              <div class="size-[40px] p-1">
                <a href="https://wa.me/{{ .whatsapp }}" target="_blank">
                  <img
                    src="{{ .whatsapp_logo }}"
                    alt="icon"
                    class="size-full rounded-full hover:scale-125"
                  />
                </a>
              </div>
              <p class="text-sm">{{ .whatsapp }}</p>
            </li>
            <li role="contentinfo" class="flex items-center gap-2">
              <div class="size-[40px] p-1">
                <a href="https://t.me/{{ .telegram }}" target="_blank">
                  <img
                    src="{{ .telegram_logo }}"
                    alt="icon"
                    class="size-full rounded-full hover:scale-125"
                  />
                </a>
              </div>
              <p class="text-sm">{{ .telegram }}</p>
            </li>
          </ul>
        </section>
      {{ end }}
      <div class="flex flex-col gap-5 fixed bottom-10  right-5 z-50">
        {{ with index .Site.Data.settings .Lang }}
          <div class="size-[40px] animate-bounce">
            <a href="https://wa.me/{{ .whatsapp }}">
              <img
                src="{{ .whatsapp_logo }}"
                alt="icon"
                class="size-full rounded-full"
              />
            </a>
          </div>
          <div class="size-[40px] rounded-full animate-bounce">
            <a href="https://t.me/{{ .telegram }}">
              <img
                src="{{ .telegram_logo }}"
                alt="icon"
                class="size-full rounded-full"
              />
            </a>
          </div>
        {{ end }}
        <button
          class="scroll-progress-btn hidden relative rounded-full bg-green-500 text-white size-[40px] shadow-lg  items-center justify-center overflow-hidden"
        >
          <span class="relative z-10 text-lg">↑</span>
          <!-- Circular Progress Background -->
          <svg
            class="absolute inset-0 z-0 w-full h-full"
            style="transform: rotate(-90deg);"
          >
            <circle
              cx="50%"
              cy="50%"
              r="16"
              class="stroke-gray-300"
              stroke-width="4"
              fill="none"
            />
            <circle
              cx="50%"
              cy="50%"
              r="16"
              class="stroke-green-500"
              stroke-width="4"
              fill="none"
              pathLength="100"
              stroke-dasharray="100"
              stroke-dashoffset="100"
              id="progress-circle"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</footer>
