<footer class="bg-slate-200 relative">
  <div class="container mx-auto   items-center justify-between">
    <nav class="flex gap-4 justify-center" role="navigation">
      {{ $mainURL := "/" | relLangURL }}
      {{ if eq .Page.RelPermalink "/" }}
        <button
          disabled
          class="text-black/50 font-bold curlyBraces dark:text-slate-300/50"
          aria-current="page"
          href="{{ $mainURL }}"
        >
          to Main
          <!-- fixme i18n to main -->
        </button>
      {{ else }}
        <a href="{{ $mainURL }}" class="text-black dark:text-slate-300">
          <!-- fixme i18n to main -->
          to Main
        </a>
      {{ end }}

      {{ with site.Menus.mainmenu }}
        {{ range . }}
          {{ if $.IsMenuCurrent .Menu . }}
            <button
              disabled
              class="text-black/50 font-bold curlyBraces dark:text-slate-300/50"
              aria-current="page"
              href="{{ .URL }}"
            >
              {{ .Name }}
            </button>
          {{ else }}
            <a href="{{ .URL }}" class="text-black dark:text-slate-300"
              >{{ .Name }}</a
            >
          {{ end }}
        {{ end }}
      {{ end }}
    </nav>
    <div class="grid grid-cols-3">
      <section>
        <h2>
          <!-- fixme i18n -->
          news
        </h2>
        <ul role="navigation" aria-label="recent news" class="bg-green-200">
          {{ $news := where .Site.Pages "Section" "news" }}
          {{ range first 4 $news.ByPublishDate.Reverse }}
            <h2><a href="{{ .RelPermalink }}">{{ .RelPermalink }}</a></h2>
          {{ end }}
        </ul>
      </section>
      <section>
        <h2>
          <!-- fixme i18n -->
          Product category
        </h2>
        <ul
          role="navigation"
          aria-label="product categories"
          class="bg-orange-200"
        >
          {{ range $name, $taxonomy := .Site.Taxonomies.products }}
            <li>
              <a
                href="{{ $taxonomy.Page.Permalink }}"
                class="text-black dark:text-slate-300"
              >
                {{ $name }}
              </a>
            </li>
          {{ else }}
            <li>No products found!</li>
          {{ end }}
        </ul>
      </section>
      <section>
        <h2>
          <!-- fixme i18n -->
          Contact
        </h2>
        <ul class="bg-pink-200">
          <li>
            <div class="size-[75px]">
              <img
                src="{{ .Site.Data.settings.logo }}"
                alt="logo"
                class="size-full"
              />
            </div>
          </li>
          <li role="contentinfo" class="flex">
            <div class="size-[40px]">
              <img
                src="https://via.placeholder.com/40x40.png/FF5733?text=icon"
                alt="icon"
                class="size-full"
              />
            </div>
            <p>Email: {{ .Site.Data.settings.email }}</p>
          </li>
          <li role="contentinfo" class="flex">
            <div class="size-[40px]">
              <img
                src="https://via.placeholder.com/40x40.png/FF5733?text=icon"
                alt="icon"
                class="size-full"
              />
            </div>
            <p>whatsapp: {{ .Site.Data.settings.phone }}</p>
          </li>
          <li role="contentinfo" class="flex">
            <div class="size-[40px]">
              <img
                src="https://via.placeholder.com/40x40.png/FF5733?text=icon"
                alt="icon"
                class="size-full"
              />
            </div>
            <p>Telegram: {{ .Site.Data.settings.phone }}</p>
          </li>
        </ul>
      </section>
      <div class="flex gap-5 fixed bottom-5 right-5 z-50">
        <div class="size-[40px]">
          <img
            src="https://via.placeholder.com/40x40.png/FW4733?text=WHa"
            alt="icon"
            class="size-full"
          />
        </div>
        <div class="size-[40px]">
          <img
            src="https://via.placeholder.com/40x40.png/F23733?text=Tel"
            alt="icon"
            class="size-full"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
