<footer
  class="bg-[rgb(179_220_251)] dark:bg-[rgb(26_41_58)] relative py-10"
  anchor-name="footerAnchor"
>
  <div class="container mx-auto space-y-5  items-center justify-between">
    <nav class="flex gap-4 justify-center" role="navigation">
      {{ $mainURL := "/" | relLangURL }}

      {{ with site.Menus.mainmenu }}
        {{ range . }}
          {{ if $.IsMenuCurrent .Menu . }}
            <button
              disabled
              class="text-black/50 font-bold  dark:text-slate-300/50"
              aria-current="page"
            >
              {{ .Name }}
            </button>
          {{ else }}
            <a href="{{ .URL }}" class="text-black dark:text-slate-300"
              >{{ .Name }}</a
            >
          {{ end }}
        {{ end }}
      {{ end }}
    </nav>
    <div class="grid grid-cols-3 gap-4">
      <!-- <section>
        <p>
          news
        </p>
        <ul role="navigation" aria-label="recent news" class="bg-green-200">
          {{ $news := where .Site.Pages "Section" "news" }}
          {{ range first 4 $news.ByPublishDate.Reverse }}
        <p><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></p>
      {{ end }}
        </ul>
      </section> -->
      <section>
        {{ with index .Site.Data.settings .Lang }}
          <a class="size-[75px] block" href="{{ $mainURL }}" alt="to main">
            <img src="{{ .main_logo }}" alt="logo" class="size-full" />
          </a>
          <p>{{ .description }}</p>
        {{ end }}
      </section>
      <section>
        <p>
          <!-- fixme i18n -->
          Product category
        </p>
        <ul role="navigation" aria-label="product categories">
          {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <li>
              <a
                href="{{ $taxonomy.Page.Permalink }}"
                class="text-black dark:text-slate-300"
              >
                {{ $name }}
              </a>
            </li>
          {{ else }}
            <li>No products found!</li>
          {{ end }}
        </ul>
      </section>
      {{ with index .Site.Data.settings .Lang }}
        <section>
          <p>
            <!-- fixme i18n -->
            Contact
          </p>
          <ul class="">
            <li role="contentinfo" class="flex">
              <div class="size-[40px]">
                <img
                  src="{{ .email_logo }}"
                  alt="icon"
                  class="size-full rounded-full"
                />
              </div>
              <p>{{ .email }}</p>
            </li>
            <li role="contentinfo" class="flex">
              <div class="size-[40px]">
                <img
                  src="{{ .whatsapp_logo }}"
                  alt="icon"
                  class="size-full rounded-full"
                />
              </div>
              <p>{{ .whatsapp }}</p>
            </li>
            <li role="contentinfo" class="flex">
              <div class="size-[40px]">
                <img
                  src="{{ .telegram_logo }}"
                  alt="icon"
                  class="size-full rounded-full"
                />
              </div>
              <p>{{ .telegram }}</p>
            </li>
          </ul>
        </section>
      {{ end }}
      <div class="flex flex-col gap-5 fixed bottom-10  right-5 z-50">
        <button
          class="scroll-progress-btn hidden relative rounded-full bg-green-500 text-white size-[40px] shadow-lg  items-center justify-center overflow-hidden"
        >
          <span class="relative z-10 text-lg">↑</span>
          <!-- Circular Progress Background -->
          <svg
            class="absolute inset-0 z-0 w-full h-full"
            style="transform: rotate(-90deg);"
          >
            <circle
              cx="50%"
              cy="50%"
              r="16"
              class="stroke-gray-300"
              stroke-width="4"
              fill="none"
            />
            <circle
              cx="50%"
              cy="50%"
              r="16"
              class="stroke-green-500"
              stroke-width="4"
              fill="none"
              pathLength="100"
              stroke-dasharray="100"
              stroke-dashoffset="100"
              id="progress-circle"
            />
          </svg>
        </button>
        {{ with index .Site.Data.settings .Lang }}
          <div class="size-[40px]">
            <a href="https://wa.me/{{ .whatsapp }}">
              <img
                src="{{ .whatsapp_logo }}"
                alt="icon"
                class="size-full rounded-full"
              />
            </a>
          </div>
          <div class="size-[40px] rounded-full">
            <a href="https://t.me/{{ .telegram }}">
              <img
                src="{{ .telegram_logo }}"
                alt="icon"
                class="size-full rounded-full"
              />
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
