{{- $validFormats := slice "default" "terse" }}

{{- $msg1 := "When passing a map to the internal pagination template, one of the elements must be named 'page', and it must be set to the context of the current page." }}
{{- $msg2 := "The 'format' specified in the map passed to the internal pagination template is invalid. Valid choices are: %s." }}

{{- $page := . }}
{{- $format := "default" }}

{{- if reflect.IsMap . }}
  {{- with .page }}
    {{- $page = . }}
  {{- else }}
    {{- errorf $msg1 }}
  {{- end }}
  {{- with .format }}
    {{- $format = lower . }}
  {{- end }}
{{- end }}

{{- if in $validFormats $format }}
  {{- if gt $page.Paginator.TotalPages 1 }}
    <ul class="pagination pagination-{{ $format }} flex gap-4 items-center">
      {{- partial (printf "partials/inline/pagination/%s" $format) $page }}
    </ul>
  {{- end }}
{{- else }}
  {{- errorf $msg2 (delimit $validFormats ", ") }}
{{- end -}}

{{/* Format: default
  {{/* ---------------------------------------------------------------------
*/}}
{{- define "partials/inline/pagination/default" }}
  {{- with .Paginator }}
    {{- $currentPageNumber := .PageNumber }}

    {{- with .First }}
      {{- if ne $currentPageNumber .PageNumber }}
        <li class="page-item ">
          <a
            href="{{ .URL }}"
            aria-label="First"
            class="page-link  py-2 px-4 rounded-lg inactive hover:bg-blue-500"
            role="button"
            ><span aria-hidden="true">&laquo;&laquo;</span></a
          >
        </li>
      {{- else }}
        <li class="page-item disabled ">
          <a
            aria-disabled="true"
            aria-label="First"
            class="page-link inactive py-2 px-4 rounded-lg hover:cursor-default"
            role="button"
            tabindex="-1"
            ><span aria-hidden="true">&laquo;&laquo;</span></a
          >
        </li>
      {{- end }}
    {{- end }}

    {{- with .Prev }}
      <li class="page-item">
        <a
          href="{{ .URL }}"
          aria-label="Previous"
          class="page-link py-2 px-4 rounded-lg inactive hover:bg-blue-500"
          role="button"
          ><span aria-hidden="true">&laquo;</span></a
        >
      </li>
    {{- else }}
      <li class="page-item disabled">
        <a
          aria-disabled="true"
          aria-label="Previous"
          class="page-link inactive py-2 px-4 rounded-lg hover:cursor-default"
          role="button"
          tabindex="-1"
          ><span aria-hidden="true">&laquo;</span></a
        >
      </li>
    {{- end }}

    {{- $slots := 5 }}
    {{- $start := math.Max 1 (sub .PageNumber (math.Floor (div $slots 2))) }}
    {{- $end := math.Min .TotalPages (sub (add $start $slots) 1) }}
    {{- if lt (add (sub $end $start) 1) $slots }}
      {{- $start = math.Max 1 (add (sub $end $slots) 1) }}
    {{- end }}
    {{ $total := .TotalPages }}
    {{ $left := sub $.Paginator.PageNumber 1 }}
    {{ $right := add $.Paginator.PageNumber 1 }}
    {{ $thirdLeft := sub $.Paginator.PageNumber 2 }}
    {{ $thirdRight := add $.Paginator.PageNumber 2 }}
    {{- range $k := seq $start $end }}
      {{- if eq $.Paginator.PageNumber $k }}
        <li
          class="page-item active py-1 px-2 rounded-lg bg-blue-500 text-white"
        >
          <a
            aria-current="page"
            aria-label="Page {{ $k }}"
            class="page-link "
            role="button"
            >{{ $k }}</a
          >
        </li>
      {{- else if or (eq $k $left) (eq $k $right) }}
        <li class="page-item py-1 px-2 rounded-lg inactive hover:bg-blue-500">
          <a
            href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}"
            aria-label="Page {{ $k }}"
            class="page-link"
            role="button"
            >{{ $k }}</a
          >
        </li>
      {{- else if and (eq $k $thirdRight) (eq $.Paginator.PageNumber 1) }}
        <li class="page-item py-1 px-2 rounded-lg inactive hover:bg-blue-500">
          <a
            href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}"
            aria-label="Page {{ $k }}"
            class="page-link"
            role="button"
            >{{ $k }}</a
          >
        </li>
      {{- else if and (eq $k $thirdLeft) (eq $.Paginator.PageNumber $total) }}
        <li class="page-item py-1 px-2 rounded-lg inactive hover:bg-blue-500">
          <a
            href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}"
            aria-label="Page {{ $k }}"
            class="page-link"
            role="button"
            >{{ $k }}</a
          >
        </li>
      {{- end }}
    {{- end }}

    {{- with .Next }}
      <li class="page-item">
        <a
          href="{{ .URL }}"
          aria-label="Next"
          class="page-link py-2 px-4 rounded-lg inactive hover:bg-blue-500"
          role="button"
          ><span aria-hidden="true">&raquo;</span></a
        >
      </li>
    {{- else }}
      <li class="page-item disabled">
        <a
          aria-disabled="true"
          aria-label="Next"
          class="page-link inactive py-2 px-4 rounded-lg hover:cursor-default"
          role="button"
          tabindex="-1"
          ><span aria-hidden="true">&raquo;</span></a
        >
      </li>
    {{- end }}

    {{- with .Last }}
      {{- if ne $currentPageNumber .PageNumber }}
        <li class="page-item">
          <a
            href="{{ .URL }}"
            aria-label="Last"
            class="page-link py-2 px-4 rounded-lg inactive hover:bg-blue-500"
            role="button"
            ><span aria-hidden="true">&raquo;&raquo;</span></a
          >
        </li>
      {{- else }}
        <li class="page-item disabled">
          <a
            aria-disabled="true"
            aria-label="Last"
            class="page-link inactive py-2 px-4 rounded-lg hover:cursor-default"
            role="button"
            tabindex="-1"
            ><span aria-hidden="true">&raquo;&raquo;</span></a
          >
        </li>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end -}}
