{{ define "main" }}
  <main class="container mx-auto ">
    {{ partial "breadcrumbs.html" . }}
    <div
      class="flex flex-col lg:flex-row gap-4 justify-between"
      aria-label="product information"
    >
      {{ partial "products/images.html" . }}
      <section aria-label="product details" class="">
        <h2 class="text-xl font-bold mb-3">{{ .Title}}</h2>
        <p>categories: {{ .Params.categories }}</p>
        {{ if .Params.parameters.show }}
        <aside>
          <p>
            Parameters: 
          </p>
          {{ range .Params.parameters.list }}
            <div class="product-parameters space-y-2">
              <div class="parameter">
                <strong>{{ .attribute }}:</strong> {{ .value }}
              </div>
            </div>
          {{ end }}
        </aside>
          {{ else }}
          <p class="text-gray-600">Product details will be available soon.</p>
        </aside>
        {{ end }}
        {{ if .Params.benefits.show }}
        <aside aria-label="Product Benefits" class="p-4 bg-gray-100 rounded-lg">
          <h2 class="text-xl font-bold mb-4">Product Benefits</h2>
          <ul class="list-disc list-inside">
            {{ range .Params.benefits.list }}
              <li class="mb-2">{{ . }}</li>
            {{ end }}
          </ul>
        </aside>
        {{ end }}
      </section>
    </div>
    <div class="markdown mb-9"></div>
      <div>{{ .Content }}</div>
    </div>
    <section aria-label="similar products" class="my-10">
        <div class="flex justify-between">
          <p>i18n Similar products in category: {{ .Params.categories }}</p>
          <div>
            <button data-control-similar="left" class="scroll-button">Left</button>
            <button data-control-similar="right" class="scroll-button">Right</button>
          </div>
        </div>
        <div class="overflow-x-scroll grid-flow-col grid gap-4 py-4 remove-scroll-style" id="product-container">
          {{ $products := (where .Site.RegularPages "Type" "products") }}
          {{ $category := (where .Site.RegularPages "Params.categories" .Params.categories) }}
          {{ range $index, $pages :=  $category.ByPublishDate.Reverse }}
            <div class="border rounded border-gray-600 w-[220px] inline-flex flex-col">
              <div class="group overflow-hidden relative w-full" style="padding-top: 100%;">
                <img
                  class="absolute inset-0 size-full object-cover"
                  src="https://via.placeholder.com/100x100/FF5733/ffffff?text=product"
                  alt="{{ $pages.Params.title }}"
                />
                <p
                class="absolute inset-0 flex items-center justify-center p-4 text-black transition-all duration-500 ease-in-out transform -translate-y-full group-hover:translate-y-0 group-hover:text-white group-hover:bg-black/50 overflow-hidden"
              >
                {{ .Params.description }}
              </p>
              </div>
              <div class="flex-grow flex flex-col justify-between text-center my-6">
                <p class="text-sm">{{ $pages.Params.title }}</p>
                <p class="text-xsm">price</p>
              </div>
            </div>
          {{ end }}
        </div>
      </section>

      <script>
        const productContainer = document.getElementById('product-container');
        const buttons = document.querySelectorAll('.scroll-button');

        buttons.forEach(button => {
          button.addEventListener('click', () => {
            const direction = button.getAttribute('data-control-similar');
            const scrollAmount = 220; // The width of each product item
            const scrollOptions = { behavior: 'smooth', block: 'nearest' };

            if (direction === 'left') {
              productContainer.scrollBy({ left: -scrollAmount, ...scrollOptions });
            } else if (direction === 'right') {
              productContainer.scrollBy({ left: scrollAmount, ...scrollOptions });
            }
          });
        });
      </script>
</main>
{{ end }}
