{{ define "main" }}
  <main class="container mx-auto flex-grow mb-10">
    {{ partial "breadcrumbs.html" . }}
    <section>
      <ul>
        {{ range $index, $item := .Params.list }}
          <li class="relative w-full  p-2 mb-2 rounded-md bg-slate-400/50">
            <details class="peer group cursor-pointer font-bold px-4">
              <summary class="marker:content-none marker:-z-10">
                {{ $item.question }}
                <span
                  class="absolute right-4  group-open:rotate-90 z-10 transition-transform duration-500"
                  >▶</span
                >
              </summary>
            </details>
            <div
              aria-label="dropdown answer"
              class="grid grid-rows-[0fr] peer-open:px-4 peer-open:grid-rows-[1fr] transition-all duration-500 ease-in-out "
            >
              <p class="overflow-hidden">
                {{ $item.answer }}
              </p>
            </div>
          </li>
        {{ end }}
      </ul>
    </section>
  </main>
{{ end }}
