{{ define "main" }}
  <main class="container mx-auto flex-grow mb-10">
    {{ partial "breadcrumbs.html" . }}
    <section>
      <ul>
        {{ range $index, $item := .Params.list }}
          <li class="relative w-full  p-2 mb-2 rounded-md bg-slate-400/50">
            <details class="peer group cursor-pointer font-bold px-2">
              <summary class="mr-6">
                {{ $item.question }}
                <span
                  class="absolute right-4 group-open:rotate-90 z-10 transition-transform duration-500"
                  >▶</span
                >
              </summary>
            </details>
            <div
              aria-label="dropdown answer"
              class="grid grid-rows-[0fr] peer-open:px-4 peer-open:grid-rows-[1fr] transition-all duration-500 ease-in-out "
            >
              <div class="overflow-hidden">
                <img src="{{ relURL $item.image }}" alt="" />
                <ul class="list-inside  text-base mt-4">
                  {{ range  $item.answer }}
                    <li class="mt-2 mb-4 text-justify text-base">
                      {{ .p }}
                    </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </li>
        {{ end }}
      </ul>
    </section>
  </main>
{{ end }}
